[Unit]
Description=blogd
After=postgresql.service
Wants=postgresql.service
Requires=docker.socket

[Service]
Restart=always
RestartSec=30s
TimeoutStartSec=300
TimeoutStopSec=15
StandardOutput=journal
StandardError=journal
ExecStartPre=/opt/blogd/config/docker_wrap.sh rm_byname %n
ExecStartPre=-/usr/bin/docker pull mtuktarov/blogd:latest
ExecStart=/usr/bin/docker run --rm --name %n \
    -v /opt/blogd:/opt/blogd \
    -v /opt/blogd_sockets:/opt/blogd/sockets \
    -e ADD_SUPERUSER=true \
    -e CONFIGURE_GROUPS=true \
    -e RENAME_SITE=true \
    -e WAIT_FOR_POSTGRES=true \
    -p 8000:8000 \
    mtuktarov/blogd:latest

ExecStartPost=/opt/blogd/config/docker_wrap.sh set_time_byname %n
ExecStop=/opt/blogd/config/docker_wrap.sh stop_byname %n

[Install]
WantedBy=multi-user.target
