[Unit]
Description=nginx
After=docker.service blogd.service
Wants=blogd.service
Requires=docker.socket

[Service]
Restart=always
RestartSec=30s
TimeoutStartSec=300
TimeoutStopSec=15
StandardOutput=journal
StandardError=journal
ExecStartPre=/opt/blogd/src/config/docker_wrap.sh rm_byname %N
ExecStartPre=-/usr/bin/docker pull nginx:stable-alpine
ExecStart=/usr/bin/docker run --rm --name %N \
    -v /opt/blogd/media:/var/blogd/media \
    -v /opt/blogd/static:/opt/blogd/static \
    -v /opt/blogd/socket:/opt/blogd/socket \
    -v /opt/blogd/ssl:/opt/blogd/ssl \
    -v /opt/blogd/config/nginx:/etc/nginx/conf.d \
    --network=blogd -p 80:80 -p 443:443 \
    nginx:stable-alpine

ExecStartPost=/opt/blogd/src/config/docker_wrap.sh set_time_byname %N
ExecStop=/opt/blogd/src/config/docker_wrap.sh stop_byname %N

[Install]
WantedBy=multi-user.target