[Unit]                                                                                                                                                                                
Description=The PostgreSQL object-relational database system provides reliability and data integrity.
After=docker.service
Requires=docker.socket

[Service]
Restart=always
RestartSec=30s
TimeoutStartSec=300
TimeoutStopSec=15
StandardOutput=journal
StandardError=journal
ExecStartPre=/opt/blogd/config/docker_wrap.sh rm_byname %n
ExecStartPre=-/usr/bin/docker pull postgres:alpine
ExecStart=/usr/bin/docker run --rm --name %n \
    -e POSTGRES_PASSWORD=blogd \
    -e POSTGRES_USER=blogd \
    -v /opt/blogd_data:/var/lib/postgresql/data \
    -p 5432:5432 \
    postgres:alpine
ExecStartPost=/opt/blogd/config/docker_wrap.sh set_time_byname %n
ExecStop=/opt/blogd/config/docker_wrap.sh stop_byname %n

[Install]
WantedBy=multi-user.target
