[Unit]                                                                                                                                                                                
Description=The PostgreSQL object-relational database system provides reliability and data integrity.
After=docker.service
Requires=docker.socket

[Service]
Restart=always
RestartSec=30s
TimeoutStartSec=300
TimeoutStopSec=15
StandardOutput=journal
StandardError=journal
ExecStartPre=/opt/blogd/src/config/docker_wrap.sh rm_byname %N
ExecStartPre=-/usr/bin/docker pull postgres:alpine
ExecStartPre=-/usr/bin/docker run --name blogd_data -v /opt/blogd:/opt/blogd -v /opt/blogd/config/nginx:/etc/nginx/conf.d busybox:latest
ExecStart=/usr/bin/docker run --rm --name %N \
    --env-file /opt/blogd/config/env \
    --volumes-from blogd_data \
    -p 172.17.0.1:5432:5432 \
    postgres:alpine
ExecStartPost=/opt/blogd/src/config/docker_wrap.sh set_time_byname %N
ExecStop=/opt/blogd/src/config/docker_wrap.sh stop_byname %N

[Install]
WantedBy=multi-user.target
