<aside id="text-2" class="widget widget_text"><h3 class="widget-title">Google AdSense</h3>
    <div class="textwidget">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- auto_size -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-3945824757398503"
             data-ad-slot="2462790325"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</aside>