{% load static %}
{% load cache %}
{% load i18n %}
{% load compress %}
{% load vite_tags %}
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="zh-CN"
      prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="zh-CN"
      prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html lang="zh-CN" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<!--<![endif]-->
<head>
    <!-- 插件关键head资源 - 必须在所有资源之前加载（防闪烁等关键脚本） -->
    {% load blog_tags %}
    {% plugin_critical_head_resources %}

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="theme-color" content="#21759b"/>
    {% head_meta %}
    {% block header %}
        <!-- SEO插件会自动生成title、description、keywords等标签 -->
    {% endblock %}
    <link rel="profile" href="http://gmpg.org/xfn/11"/>

    <!-- 资源提示和预加载优化 -->
    <link rel="dns-prefetch" href="//cdn.mathjax.org"/>
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net"/>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin/>


    <!--[if lt IE 9]>
    <script src="{% static 'blog/js/html5.js' %}" type="text/javascript"></script>
    <![endif]-->

    <!-- RSS和图标 -->
    <link rel="alternate" type="application/rss+xml" title="{{ SITE_NAME }} &raquo; Feed" href="/feed"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/favicon.ico"/>

    <!-- 本地字体加载 -->
    <link rel="stylesheet" href="{% static 'blog/fonts/open-sans.css' %}">

    <!-- 代码高亮样式（Pygments） -->
    <link rel="stylesheet" href="{% static 'pygments/default.css' %}"/>

    <!-- 新前端：Tailwind CSS + Alpine.js - 完整样式系统 -->
    {% vite_css 'src/styles/main.css' %}

    <!-- 插件CSS文件 -->
    {% compress css %}
        {% block compress_css %}
        {% endblock %}
        {% plugin_compressed_css %}
    {% endcompress %}

    {% if GLOBAL_HEADER %}
        {{ GLOBAL_HEADER|safe }}
    {% endif %}

    <!-- 插件head资源 -->
    {% plugin_head_resources %}
</head>

<body class="home blog custom-font-enabled">
<div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">
        <hgroup>
            <h1 class="site-title"><a href="/" title="{{ SITE_NAME }}" rel="home">{{ SITE_NAME }}</a>
            </h1>
            <h2 class="site-description">{{ SITE_DESCRIPTION }}</h2>
        </hgroup>
        {% load i18n %}
        {% include 'share_layout/nav.html' %}


    </header><!-- #masthead -->
    <div id="main" class="wrapper" hx-boost="true" hx-target="#main" hx-select="#main" hx-swap="innerHTML" hx-push-url="true">

        {% block content %}
        {% endblock %}


        {% block sidebar %}
        {% endblock %}


    </div><!-- #main .wrapper -->
    {% include 'share_layout/footer.html' %}
</div><!-- #page -->

<!-- 新前端：Alpine.js + 现代化组件 -->
{% vite_js 'src/main.js' %}

<!-- 插件JS文件 -->
{% compress js %}
    {% block compress_js %}
    {% endblock %}
    {% plugin_compressed_js %}
{% endcompress %}

<!-- MathJax智能加载器 -->
<script src="{% static 'blog/js/mathjax-loader.js' %}" async defer></script>

{% block footer %}
{% endblock %}

<!-- 插件body资源 -->
{% plugin_body_resources %}

<!-- 回到顶部按钮 - Alpine.js组件 -->
<div x-data="backToTop()"
     x-init="init()"
     @click="scrollToTop()"
     id="rocket"
     x-show="isVisible"
     x-transition:enter="transition ease-out duration-300"
     x-transition:enter-start="opacity-0 scale-90"
     x-transition:enter-end="opacity-100 scale-100"
     x-cloak>
    <svg class="w-6 h-6 fill-current text-white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
    </svg>
</div>

</body>
</html>
