{% load static %}
{% load cache %}
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="zh-CN" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="zh-CN" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html lang="zh-CN" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    {% block header %}
    {% endblock %}
    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    {% comment %}<link rel="pingback" href="https://www.lylinux.org/xmlrpc.php"/>{% endcomment %}
    <!--[if lt IE 9]>
    <script src="{% static 'blog/js/html5.js' %}" type="text/javascript"></script>
    <![endif]-->

    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel="alternate" type="application/rss+xml" title="{{ SITE_NAME }} &raquo; Feed"
          href="{{ SITE_BASE_URL }}feed"/>
    <link rel="alternate" type="application/rss+xml" title="{{ SITE_NAME }} &raquo; 评论Feed"
          href="https://www.lylinux.org/comments/feed"/>


    <link rel='stylesheet' id='twentytwelve-fonts-css'
          href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&#038;subset=latin,latin-ext'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='twentytwelve-style-css' href='{% static 'blog/css/style.css' %}' type='text/css'
          media='all'/>
    {% comment %}<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>{% endcomment %}
    <!--[if lt IE 9]>
        <link rel='stylesheet' id='twentytwelve-ie-css'  href='{% static 'blog/css/ie.css' %}' type='text/css' media='all' />
    <![endif]-->

    {% comment %}<script type='text/javascript' src='{% static 'blog/js/jquery.js' %}' defer='defer'></script>
    <script type='text/javascript' src='{% static 'blog/js/jquery-migrate.min.js' %}' defer='defer'></script>{% endcomment %}
    <script type="text/javascript" src="{% static 'blog/js/jquery-3.1.1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pygments/default.css' %}"/>
</head>

<body class="home blog custom-font-enabled">
<div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">
        <hgroup>
            <h1 class="site-title"><a href="{{ SITE_BASE_URL }}" title="{{ SITE_NAME }}" rel="home">{{ SITE_NAME }}</a>
            </h1>
            <h2 class="site-description">{{ SITE_DESCRIPTION }}</h2>
        </hgroup>

        {% cache 36000 nav %}
            {% include 'share_layout/nav.html' %}
        {% endcache %}

    </header><!-- #masthead -->
    <div id="main" class="wrapper">
        {% block content %}
        {% endblock %}

        {% cache 36000 sidebar %}
            {% block sidebar %}

            {% endblock %}
        {% endcache %}
    </div><!-- #main .wrapper -->
    {% include 'share_layout/footer.html' %}
</div><!-- #page -->
{% comment %}
<div id="wp-auto-top">
    <div id="wp-auto-top-top"></div>
    <div id="wp-auto-top-bottom"></div>
</div>
<script> var commentPositionId = '.ds-comments:last';
var wpAutoTopSpeed = 1;</script>

<div id="su-footer-links" style="text-align: center;"></div>
{% endcomment %}
{% comment %}<script type="application/javascript" src="{% static 'blog/js/navigation.js' %}" defer="defer"></script>{% endcomment %}

</body>
<footer>
    {% comment %}<link href="{% static 'highlight/styles/default.css' %}" rel="stylesheet">
    <script type="application/javascript" src="{% static 'highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>{% endcomment %}
    <script src="{% static 'blog/js/blog.js' %}" type="application/javascript"></script>
    <script src="{% static 'blog/js/navigation.js' %}" type="application/javascript"></script>
    {% block footer %}
    {% endblock %}
</footer>
</html>