{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex">
    {% include 'head.html' %}
</head>
{% if weather|rain %}
    <link rel="stylesheet" href="{% static 'blog/css/rain.css' %}">
    <body class="home blog custom-font-enabled back-row-toggle splat-toggle">
    <div class="rain front-row" style="z-index: -1;"></div>
    <div class="rain back-row" style="z-index: -1;"></div>
    <script type="text/javascript" src="{% static 'blog/js/rain.js' %}"></script>
  {% elif weather|snow %}
    <link rel="stylesheet" href="{% static 'blog/css/snow.css' %}">
    <body class="home blog custom-font-enabled back-row-toggle splat-toggle">
    <script type="text/javascript" src="{% static 'blog/js/snow.js' %}"></script>
  {% else %}
    <body class="home blog custom-font-enabled">
  {% endif %}

        {% block content %}
        {% endblock %}

 </div>
</body>

</html>
