<footer id="colophon" role="contentinfo">
    <div class="site-info" style="text-align: center">
        Copyright&copy;&nbsp;2017&nbsp;
        <a href="{{ SITE_BASE_URL }}" target="blank">{{ SITE_NAME }}</a>
        &nbsp;|&nbsp;

        <a href="{{ SITE_BASE_URL }}sitemap.xml" title="SiteMap" target="_blank">
            SiteMap
        </a>
        &nbsp;|&nbsp;
        <a href="{{ SITE_BASE_URL }}feed" title="RSS Feed" target="_blank">
            RSS Feed
        </a>
        |&nbsp; Hosting On&nbsp;
        <a href="https://www.linode.com/?r=b0d38794d05ef8816b357a929106e89b7c6452f9" target="blank" rel="nofollow">Linode</a>
        |&nbsp;
        {% include 'share_layout/analyticscode.html' %}

    </div>
    <div class="site-info" style="text-align: center">
        Powered by
        <a href="https://www.djangoproject.com/" rel="nofollow" target="blank">Django</a>
        &nbsp;|&nbsp;
        <a href="https://github.com/liangliangyy/DjangoBlog" rel="nofollow" target="blank"> LiangLiangyy</a>
        |
        本页面加载耗时:<!!LOAD_TIMES!!>s
    </div>
</footer><!-- #colophon -->


