{% load blog_tags %}
{% load static %}
<div class="modal">
    <div class="modal-content">
    <span class="close mr-3">&times;</span>
        {% if messages %}
          {% for message in messages %}
            {% if message.level %}
              <div class="row">
                <div class="col-sm-12 col-sm-offset-0">
                  <div class="alert alert-{{ message.tags }} py-2 mb-3" role="alert">
                    <p class="text-center mb-0">{{ message }}</p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        <div class="limiter">
            <div class="container-input_creds">
                <div class="wrap-input_creds">
                    <form class="form-signin input_creds-form validate-form" _lpchecked="1" action="{% url 'account:login' %}" method="post">
                         {% csrf_token %}
                        <span class="input_creds-form-title py-5">
                        Вход
                        </span>
                        {% for field in login_form.visible_fields %}
                            <div class="wrap-input100 rs1-wrap-input100 validate-input mb-3 ml-1 w-100">
                               {{ field }}
                                {{ field.errors }}
                                <span class="focus-input_creds"></span>
                            </div>
                        {% endfor %}
                        <div class="container-input_creds-form-btn">
                            <button class="input_creds-form-btn btn btn-lg btn-block" type="submit">
                            Войти
                            </button>
                            <input type="hidden" name="next" value="{{ redirect_to }}">
                        </div>
                            {% load oauth_tags %}
                            {% load_oauth_applications request %}
                        <div class="w-100 text-center pb-5">
                            <a href="{% url 'account:register' %}" class="text-uppercase px-2">
                            Регистрация
                            </a>
                            <a href="/" class="text-uppercase px-2">
                            На главную
                            </a>
                        </div>
                    </form>
                    <div class="input_creds-more" style="background-image: url('{% static 'blog/img/guesswhy.jpg' %}');"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="navbar navbar-expand navbar-dark bg-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand p-2 mx-5" href="/">
    {% include 'logo.html' %}
  </a>
  <div class="navbar-nav-scroll" id="navbarNavDropdown">
    <ul class="navbar-nav bd-navbar-nav flex-row find_active">
      <li class="{% if page == 'main' %}active{% endif %}">
          <a class="nav-link" href="/">На главную</a>
      </li>
      {% if nav_pages %}
        {% for node in nav_pages %}
          <li id="menu-item-{{ node.pk }}" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-{{ node.pk }}">
            <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
          </li>
        {% endfor %}
      {% endif %}
      <li class="{% if page == 'archive' %}active{% endif %}">
        <a class="nav-link" href="{% url 'blog:archives' %}">Все публикации</a>
      </li>
      {% if SHOW_CATEGORY_BAR %}
        <li class="nav-item dropdown {% if page == 'category_details' %}active{% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Категории</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% query nav_category_list parent_category=None as root_categorys %}
            {% for node in root_categorys %}
                <a class="dropdown-item {% if request.get_full_path == node.get_absolute_url %}active{% endif %}" href="{{ node.get_absolute_url }}">{{ node.name }}</a>
            {% endfor %}
          </div>
        </li>
      {% endif %}
    </ul>
  </div>
  <ul class="navbar-nav ml-md-auto">
    {% if user.is_authenticated %}
          <li class="nav-item dropdown mx-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="true">{{ user.username }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% if user.is_superuser %}
                    <a class="dropdown-item" href="/author/{{ user.username }}.html">Мои статьи</a>
                    <a class="dropdown-item" href="/admin/" rel="nofollow">Админка</a>
                    <a class="dropdown-item" href="{% url 'blog:refresh' %}">Очистить кеш</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'account:logout' %}">Выйти</a>
            </div>
          </li>
    {% else %}
    {% load oauth_tags %}
      <li class="nav-item mr-md-5 ml-md-auto">
        <a class="nav-link btn btn-nav-login d-lg-inline-block px-5 ml-md-auto" href="#">Войти</a>
      </li>
    {% endif %}
  </ul>
</header><!-- #site-navigation -->