{% extends 'share_layout/base_account.html' %}
{% load static %}
{% block content %}
    <div class="container">

        <h2 class="form-signin-heading text-center">忘记密码</h2>

        <div class="card card-signin">
            <img class="img-circle profile-img" src="{% static 'blog/img/avatar.png' %}" alt="">
            <form class="form-signin" action="{% url 'account:forget_password' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
            <input type="button" class="button" id="btn" value="获取验证码">
            <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
            </form>
        </div>

        <p class="text-center">
            <a href="/">Home Page</a>
            |
            <a href="{% url "account:login" %}">login page</a>
        </p>

    </div> <!-- /container -->
{% endblock %}