{% extends 'share_layout/base_account.html' %}
{% load static %}
{% block content %}
    <div class="limiter">
        <div class="container-input_creds">
            <div class="wrap-input_creds">
                <form class="form-signin input_creds-form validate-form" _lpchecked="1" action="{% url 'account:login' %}" method="post">
                    {% csrf_token %}
                    <span class="input_creds-form-title py-5">
                    Вход
                    </span>
                    {% if messages %}
                      {% for message in messages %}
                        {% if message.level %}
                          <div class="row mx-auto">
                            <div class="col-sm-12 col-sm-offset-0">
                              <div class="alert alert-{{ message.tags }} py-2 mb-3" role="alert">
                                <span class="">{{ message }}</span>
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    {% for field in form.visible_fields %}
                        <div class="wrap-input100 rs1-wrap-input100 validate-input mb-3 ml-1 w-100">
                           {{ field }}
                            {{ field.errors }}
                            <span class="focus-input_creds"></span>
                        </div>
                    {% endfor %}
                    <div class="container-input_creds-form-btn">
                        <button class="input_creds-form-btn btn btn-lg btn-block" type="submit">
                        Войти
                        </button>
                        <input type="hidden" name="next" value="{{ redirect_to }}">
                    </div>
                        {% load oauth_tags %}
                        {% load_oauth_applications request %}
                    <div class="w-100 text-center pb-5">
                        <a href="{% url 'account:register' %}" class="text-uppercase px-2">
                        Регистрация
                        </a>
                        <a href="/" class="text-uppercase px-2">
                        На главную
                        </a>
                    </div>
                </form>
                <div class="input_creds-more" style="background-image: url('{% static 'blog/img/guesswhy.jpg' %}');"></div>
            </div>
        </div>
    </div>
{% endblock %}
