{% extends 'share_layout/base_account.html' %}
{% load static %}
{% block content %}
    <div class="container">

        <h2 class="form-signin-heading text-center">Sign in with your Account</h2>

        <div class="card card-signin">
            <img class="img-circle profile-img" src="{% static 'blog/img/avatar.png' %}" alt="">
            <form class="form-signin" action="{% url 'account:login' %}" method="post">
                {% csrf_token %}
                {% comment %}<label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>{% endcomment %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}

                <input type="hidden" name="next" value="{{ redirect_to }}">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                <div class="checkbox">
                    {% comment %}<a class="pull-right">Need help?</a>{% endcomment %}
                    <label>
                        <input type="checkbox" value="remember-me" name="remember"> Stay signed in
                    </label>
                </div>
                {% load oauth_tags %}
                {% load_oauth_applications request%}
            </form>
        </div>

        <p class="text-center">
            <a href="{% url "account:register" %}">Create Account</a>
            |
            <a href="/">Home Page</a>
            |
            <a href="{% url "account:forget_password" %}">忘记密码</a>
        </p>

    </div> <!-- /container -->
{% endblock %}