{% extends 'share_layout/base_account.html' %}
{% load static %}
{% block content %}
    <div class="container">

        <h2 class="form-signin-heading text-center">Create Your Account</h2>

        <div class="card card-signin">
            <img class="img-circle profile-img" src="{% static 'blog/img/avatar.png' %}" alt="">
            <form class="form-signin" action="{% url 'account:register' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}


                <button class="btn btn-lg btn-primary btn-block" type="submit">Create Your Account</button>

            </form>
        </div>

        <p class="text-center">
            <a href="{% url "account:login" %}">Sign In</a>
        </p>

    </div> <!-- /container -->
{% endblock %}