appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.1.0
bottle==0.12.16
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
coverage==4.5.2
cryptography==2.4.2
Django==2.1.5
django-appconf==1.0.2
django-autoslug==1.9.3
django-compressor==2.2
django-debug-toolbar==1.11
django-haystack==2.8.1
django-ipware==2.1.0
django-pagedown==1.0.6
django-uuslug==1.1.8
idna==2.8
isort==4.3.4
jieba==0.39
jsonpickle==1.0
lazy-object-proxy==1.3.1
markdown2==2.3.7
mccabe==0.6.1
mistune==0.8.4
olefile==0.46
packaging==18.0
Pillow==5.4.1
pycparser==2.19
Pygments==2.3.1
pylint==2.2.2
PyMySQL==0.9.3
pyparsing==2.3.0
python-memcached==1.59
python-slugify==2.0.1
pytz==2018.9
raven==6.10.0
rcssmin==1.0.6
requests==2.21.0
rjsmin==1.0.12
six==1.12.0
sqlparse==0.2.4
Unidecode==1.0.23
urllib3==1.24.1
webencodings==0.5.1
WeRoBot==1.7.0
Whoosh==2.7.4
wrapt==1.11.0
xmltodict==0.11.0
