coverage==5.2.1
Django==3.1.1
django-appconf==1.0.4
django-autoslug==1.9.8
django-compressor==2.4
django-debug-toolbar==2.2
django-haystack==3.0b2
django-ipware==3.0.1
django-mdeditor==0.1.18
django-uuslug==1.2.0
elasticsearch==7.9.1
elasticsearch-dsl==7.2.1
idna==2.10
importlib-metadata==1.7.0
ipaddress==1.0.23
isort==4.3.21
jieba==0.42.1
jsonpickle==1.4.1
lazy-object-proxy==1.4.3
markdown2==2.3.9
mccabe==0.6.1
mistune==0.8.4
mysqlclient==2.0.1
Pillow==7.2.0
Pygments==2.6.1
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-logstash==0.4.6
python-memcached==1.59
python-slugify==4.0.1
pytz==2020.1
raven==6.10.0
rcssmin==1.0.6
requests==2.24.0
rjsmin==1.1.0
WeRoBot==1.12.0
Whoosh==2.7.4
gevent==1.4.0
