Django==1.10.3
django-autoslug==1.9.3
django-autoslug-field==0.2.3
django-pagedown==0.1.1
django-registration==2.2
django-uuslug==1.1.8
inflect==0.2.5
markdown2==2.3.1
Pillow==3.4.2
PyMySQL==0.7.9
python-memcached==1.58
python-slugify==1.2.1
requests==2.12.1
six==1.10.0
sqlacodegen==1.1.6
SQLAlchemy==1.1.4
Unidecode==0.4.19
