<div class="widget-login w-100 mb-5">
    {% if apps %}
        {% for icon,url in apps %}
            <div class="social-buttons">
                <a href="{{ url }}" class="btn btn-lg btn-{{ icon }}"><i class="fa fa-{{ icon }}"></i> {{ icon }}</a>
            </div>
        {% endfor %}
    {% endif %}
</div>

{#<div class="wrap-input100 rs1-wrap-input100 validate-input mt-3 social-buttons">#}
{#    <a href="/oauth/oauthlogin/?type=facebook&amp;next_url=/" class="btn btn-lg btn-facebook w-100"><i class="fa fa-facebook"></i> facebook</a>#}
{#    </div>#}

