{% load blog_tags %}
<footer class="entry-meta">
    本条目发布于<a href="{{ article.get_absolute_url }}" title="{% datetimeformat article.created_time %}" rel="bookmark">

    <time class="entry-date"
          datetime="{{ article.created_time }}">
        {% datetimeformat article.created_time %}</time>
</a>
    。属于<a href="{{ article.category.get_absolute_url }}" rel="category tag">{{ article.category.name }}</a>分类，
    {% if article.tags.all %}
        被贴了
        
        {% for t in article.tags.all %}
            <a href="{{ t.get_absolute_url }}" rel="tag">{{ t.name }}</a>
            {% if t != article.tags.all.last %}
                ，
            {% endif %}
        {% endfor %}

        标签。
    {% endif %}
    <span class="by-author">作者是<span class="author vcard"><a class="url fn n"
                                                             href="{{ article.author.get_absolute_url }}"
                                                             title="查看所有由{{ article.author.username }}发布的文章"
                                                             rel="author">
        {{ article.author.username }}
    </a></span>。</span>
</footer><!-- .entry-meta -->