<ul itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
    {% for name,url in names %}
        <li itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
            <a href="{{ url }}" itemprop="item" href="https://example.com/books">
                <span itemprop="name">{{ name }}</span></a>
        </li>
    {% endfor %}
    <li class="active" itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem">
        <span itemprop="name">{{ title }}</span>
    </li>
</ul>