<div id="comments" class="comments-area">

    <div id="respond" class="comment-respond">
        <h3 id="reply-title" class="comment-reply-title">发表评论
            <small><a rel="nofollow" id="cancel-comment-reply-link" href="/wordpress/?p=3786#respond"
                      style="display:none;">取消回复</a></small>
        </h3>
        <form action="#" method="post" id="commentform"
              class="comment-form">
            <p class="comment-notes"><span id="email-notes">电子邮件地址不会被公开。</span> 必填项已用<span class="required">*</span>标注
            </p>
            <p class="comment-form-comment"><label for="comment">评论</label> <textarea id="comment" name="comment"
                                                                                      cols="45" rows="8"
                                                                                      maxlength="65525"
                                                                                      aria-required="true"
                                                                                      required="required"></textarea>
            </p>
            <p class="comment-form-author"><label for="author">姓名 <span class="required">*</span></label> <input
                    id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required='true'
                    required='required'/></p>
            <p class="comment-form-email"><label for="email">电子邮件 <span class="required">*</span></label> <input
                    id="email" name="email" type="text" value="" size="30" maxlength="100"
                    aria-describedby="email-notes" aria-required='true' required='required'/></p>
            <p class="comment-form-url"><label for="url">站点</label> <input id="url" name="url" type="text" value=""
                                                                           size="30" maxlength="200"/></p>
            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="发表评论"/> <input
                    type='hidden' name='comment_post_ID' value='3786' id='comment_post_ID'/>
                <input type='hidden' name='comment_parent' id='comment_parent' value='0'/>
            </p>
            <p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce"
                                             value="0767785ef9"/></p>
            <p style="display: none;"><input type="hidden" id="ak_js" name="ak_js" value="238"/></p></form>
    </div><!-- #respond -->

</div><!-- #comments .comments-area -->