appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.2.5
bottle==0.12.16
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
coverage==4.5.3
cryptography==2.6.1
Django==2.1.7
django-appconf==1.0.3
django-autoslug==1.9.4
django-compressor==2.2
django-debug-toolbar==1.11
django-haystack==2.8.1
django-ipware==2.1.0
django-mdeditor==0.1.13
django-uuslug==1.1.8
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
idna==2.8
ipaddress==1.0.22
isort==4.3.15
jieba==0.39
jsonpickle==1.1
lazy-object-proxy==1.3.1
markdown2==2.3.7
mccabe==0.6.1
mistune==0.8.4
olefile==0.46
packaging==19.0
Pillow==5.4.1
pycparser==2.19
Pygments==2.3.1
pylint==2.3.1
PyMySQL==0.9.3
pyparsing==2.3.1
python-dateutil==2.8.0
python-logstash==0.4.6
python-slugify==3.0.0
pytz==2018.9
raven==6.10.0
requests==2.21.0
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.2
typed-ast==1.3.1
Unidecode==1.0.23
urllib3==1.24.1
webencodings==0.5.1
WeRoBot==1.8.0
Whoosh==2.7.4
wrapt==1.11.1
xmltodict==0.12.0
