appdirs==1.4.3
asn1crypto==0.24.0
bottle==0.12.13
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
coverage==4.5.1
cryptography==2.3.1
Django==2.1.1
django-appconf==1.0.2
django-autoslug==1.9.3
django-compressor==2.2
django-debug-toolbar==1.9.1
django-haystack==2.8.1
django-ipware==2.1.0
django-pagedown==1.0.6
django-uuslug==1.1.8
idna==2.7
jieba==0.39
jsonpickle==0.9.6
markdown2==2.3.5
mistune==0.8.3
olefile==0.45.1
packaging==17.1
Pillow==5.2.0
pycparser==2.18
Pygments==2.2.0
PyMySQL==0.9.2
pyparsing==2.2.0
python-slugify==1.2.6
pytz==2018.5
raven==6.9.0
rcssmin==1.0.6
requests==2.19.1
rjsmin==1.0.12
six==1.11.0
sqlparse==0.2.4
Unidecode==1.0.22
urllib3==1.23
webencodings==0.5.1
WeRoBot==1.6.0
Whoosh==2.7.4
xmltodict==0.11.0