appdirs==1.4.3
Django==1.11.4
django-appconf==1.0.2
django-autoslug==1.9.3
django-compressor==2.1.1
django-debug-toolbar==1.8
django-haystack==2.6.1
django-ipware==1.1.6
django-pagedown==0.1.3
django-uuslug==1.1.8
jieba==0.38
markdown2==2.3.4
mistune==0.7.4
olefile==0.44
packaging==16.8
Pillow==4.2.1
Pygments==2.2.0
PyMySQL==0.7.11
pyparsing==2.2.0
python-slugify==1.2.4
pytz==2017.2
rcssmin==1.0.6
requests==2.18.3
rjsmin==1.0.12
six==1.10.0
sqlparse==0.2.3
Unidecode==0.4.21
webencodings==0.5.1
Whoosh==2.7.4
