{% extends 'share_layout/base.html' %}
{% load blog_tags %}
{% load cache %}
{% block header %}
    {% if tag_name %}
        <title>{{ page_type }}:{{ tag_name }} | {{ SITE_DESCRIPTION }}</title>
        {% comment %}<meta name="description" content="{{ page_type }}:{{ tag_name }}"/>{% endcomment %}
    {% else %}
        <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
    {% endif %}
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}
{% block content %}
    <div id="primary" class="site-content">
        <div id="content" role="main">
            {% if page_type and tag_name %}
                <header class="archive-header">

                    <p class="archive-title">{{ page_type }}：<span>{{ tag_name }}</span></p>
                </header><!-- .archive-header -->
            {% endif %}

            {% for article in article_list %}
                {% load_article_detail article True user %}
            {% endfor %}
            {% if is_paginated %}
                {% load_pagination_info page_obj page_type tag_name %}

            {% endif %}
        </div><!-- #content -->
    </div><!-- #primary -->

{% endblock %}
{% block sidebar %}
    {% with "sidear"|addstr:linktype as cachekey %}
        {% cache 36000 sidebar cachekey %}
            {% load_sidebar user linktype %}
        {% endcache %}
    {% endwith %}
    <div class="widget-area" role="complementary">
        <aside id="meta-2" class="widget widget_meta"><h3 class="widget-title">功能</h3>
            <ul>
                <li><a href="/admin/" rel="nofollow">管理站点</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url "account:logout" %}" rel="nofollow">登出</a>
                    </li>

                {% else %}
                    <li><a href="{% url "account:login" %}" rel="nofollow">登录</a></li>
                {% endif %}
                {% if user.is_superuser %}
                    <li><a href="{% url "blog:refresh" %}" target="_blank">刷新缓存</a></li>
                    <li><a href="{% url 'owntracks:show_dates' %}" target="_blank">运动轨迹记录</a></li>
                {% endif %}
                <li><a href="http://gitbook.lylinux.net" target="_blank" rel="nofollow">GitBook</a></li>
            </ul>
        </aside>
        <div id="rocket" class="show" title="点我返回顶部"></div>
    </div><!-- #secondary -->

{% endblock %}