{% extends 'share_layout/base.html' %}
{% load blog_tags %}
{% load cache %}
{% block header %}
    {% if tag_name %}
        <title>{{ page_type }}:{{ tag_name }} | {{ SITE_DESCRIPTION }}</title>
        <meta name="description" content="{{ page_type }}:{{ tag_name }}"/>
    {% else %}
        <title>{{ SITE_NAME }} | {{ SITE_DESCRIPTION }}</title>
        <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    {% endif %}

    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}
{% block content %}
    <div id="primary" class="site-content">
        <div id="content" role="main">
            {% if page_type and tag_name %}
                <header class="archive-header">

                    <h1 class="archive-title">{{ page_type }}：<span>{{ tag_name }}</span></h1>
                </header><!-- .archive-header -->
            {% endif %}

            {% for article in article_list %}
                {% load_article_detail article True user %}
            {% endfor %}
            {% if is_paginated %}
                {% load_pagination_info page_obj page_type tag_name %}
                {% comment %} <nav id="nav-below" class="navigation" role="navigation">
                    <h3 class="assistive-text">文章导航</h3>
                    {% if page_obj.has_next %}
                        <div class="nav-previous"><a
                                href="{{ SITE_BASE_URL }}page/{{ page_obj.next_page_number }}"><span
                                class="meta-nav">&larr;</span> 早期文章</a></div>
                    {% endif %}
                    {% if page_obj.has_previous %}
                        <div class="nav-next"><a href="{{ SITE_BASE_URL }}page/{{ page_obj.previous_page_number }}">较新文章
                            <span
                                    class="meta-nav">→</span></a>
                        </div>
                    {% endif %}
                </nav><!-- .navigation -->{% endcomment %}

            {% endif %}
        </div><!-- #content -->
    </div><!-- #primary -->

{% endblock %}


{% block sidebar %}
    {% load_sidebar user %}
{% endblock %}


