{% extends 'base.html' %}
{% load blog_tags %}

{% block content %}
    <div id="primary" class="site-content">
        <div id="content" role="main">
            {% load_article_detail article False %}

            <nav id="nav-below" class="navigation" role="navigation">
                <h3 class="assistive-text">文章导航</h3>
                <div class="nav-previous"><a href="https://www.lylinux.org/page/2"><span
                        class="meta-nav">&larr;</span> 早期文章</a></div>
                <div class="nav-next"></div>
            </nav><!-- .navigation -->


        </div><!-- #content -->
    </div><!-- #primary -->
{% endblock %}


{% block sidebar %}
    {% loadsidebartags %}
{% endblock %}


