{% extends 'base.html' %}
{% load blog_tags %}

{% block content %}
    <div id="primary" class="site-content">
        <div id="content" role="main">
            {% if page_type and tag_name %}
                <header class="archive-header">

                    <h1 class="archive-title">{{ page_type }}：<span>{{ tag_name }}</span></h1>
                </header><!-- .archive-header -->
            {% endif %}

            {% for article in article_list %}
                {% load_article_detail article True %}
            {% endfor %}

            <nav id="nav-below" class="navigation" role="navigation">
                <h3 class="assistive-text">文章导航</h3>
                <div class="nav-previous"><a href="https://www.lylinux.org/page/2"><span
                        class="meta-nav">&larr;</span> 早期文章</a></div>
                <div class="nav-next"></div>
            </nav><!-- .navigation -->


        </div><!-- #content -->
    </div><!-- #primary -->
{% endblock %}


{% block sidebar %}
    {% load_sidebar %}
{% endblock %}


