{% load static %}
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="zh-CN" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="zh-CN" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<![endif]-->
<!--[if !(IE 7) & !(IE 8)]><!-->
<html lang="zh-CN" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>逝去日子的博客 | 大巧无工,重剑无锋</title>
    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    <link rel="pingback" href="https://www.lylinux.org/xmlrpc.php"/>
    <!--[if lt IE 9]>
<script src="{% static 'blog/js/html5.js' %}" type="text/javascript"></script>
<![endif]-->


    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel="alternate" type="application/rss+xml" title="逝去日子的博客 &raquo; Feed" href="https://www.lylinux.org/feed"/>
    <link rel="alternate" type="application/rss+xml" title="逝去日子的博客 &raquo; 评论Feed"
          href="https://www.lylinux.org/comments/feed"/>


    <link rel='stylesheet' id='twentytwelve-fonts-css'
          href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&#038;subset=latin,latin-ext'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='twentytwelve-style-css' href='{% static 'blog/css/style.css' %}' type='text/css'
          media='all'/>

    <!--[if lt IE 9]>
<link rel='stylesheet' id='twentytwelve-ie-css'  href='{% static 'blog/css/ie.css' %}' type='text/css' media='all' />
<![endif]-->

    <script type='text/javascript' src='{% static 'blog/js/jquery.js' %}' defer='defer'></script>
    <script type='text/javascript' src='{% static 'blog/js/jquery-migrate.min.js' %}' defer='defer'></script>
    <style type="text/css" id="syntaxhighlighteranchor"></style>
</head>

<body class="home blog custom-font-enabled">
<div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">
        <hgroup>
            <h1 class="site-title"><a href="https://www.lylinux.org/" title="逝去日子的博客" rel="home">逝去日子的博客</a></h1>
            <h2 class="site-description">大巧无工,重剑无锋</h2>
        </hgroup>

        <nav id="site-navigation" class="main-navigation" role="navigation">
            <button class="menu-toggle">菜单</button>
            <a class="assistive-text" href="#content" title="跳至正文">跳至正文</a>
            <div class="menu-%e8%8f%9c%e5%8d%95-container">
                <ul id="menu-%e8%8f%9c%e5%8d%95" class="nav-menu">
                    <li id="menu-item-3498"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-3498">
                        <a href="http://www.lylinux.org">首页</a></li>
                    <li id="menu-item-7"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-7"><a
                            href="https://www.lylinux.org/category/linux">linux</a></li>
                    <li id="menu-item-606"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-606">
                        <a href="https://www.lylinux.org/category/%e7%a8%8b%e5%ba%8f%e7%8c%bf%e4%b9%8b%e8%b7%af">程序猿之路</a>
                        <ul class="sub-menu">
                            <li id="menu-item-607"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-607"><a
                                    href="https://www.lylinux.org/category/%e7%a8%8b%e5%ba%8f%e7%8c%bf%e4%b9%8b%e8%b7%af/python">python</a>
                            </li>
                            <li id="menu-item-608"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-608"><a
                                    href="https://www.lylinux.org/category/%e7%a8%8b%e5%ba%8f%e7%8c%bf%e4%b9%8b%e8%b7%af/c">c++</a>
                            </li>
                            <li id="menu-item-3181"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3181"><a
                                    href="https://www.lylinux.org/category/%e7%a8%8b%e5%ba%8f%e7%8c%bf%e4%b9%8b%e8%b7%af/csharp">csharp</a>
                            </li>
                            <li id="menu-item-12"
                                class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-12">
                                <a href="https://www.lylinux.org/category/%e7%a8%8b%e5%ba%8f%e7%8c%bf%e4%b9%8b%e8%b7%af/javaweb/ssh%e6%a1%86%e6%9e%b6">ssh框架</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-11"
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-11">
                                        <a href="https://www.lylinux.org/category/%e7%a8%8b%e5%ba%8f%e7%8c%bf%e4%b9%8b%e8%b7%af/javaweb/jspservlet">jsp/servlet</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-8"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8"><a
                            href="https://www.lylinux.org/category/wordpress">wordpress</a></li>
                    <li id="menu-item-9"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9"><a
                            href="https://www.lylinux.org/category/%e9%9a%8f%e7%ac%94%e6%9d%82%e8%b0%88">随笔杂谈</a></li>
                    <li id="menu-item-603"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-603"><a
                            href="https://www.lylinux.org/link">友情链接</a></li>
                    <li id="menu-item-604"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-604"><a
                            href="https://www.lylinux.org/%e7%95%99%e8%a8%80%e6%9d%bf">留言板</a></li>
                    <li id="menu-item-605"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-605"><a
                            href="https://www.lylinux.org/%e5%85%b3%e4%ba%8e">关于</a></li>
                </ul>
            </div>
        </nav><!-- #site-navigation -->

    </header><!-- #masthead -->
<div id="main" class="wrapper">
    {% block content %}
    {% endblock %}

    {% block sidebar %}
    {% endblock %}

</div><!-- #main .wrapper -->
    <footer id="colophon" role="contentinfo">
        <div class="site-info">
            Copyright&copy;&nbsp;2016&nbsp;
            <a href="http://www.lylinux.org" target="blank">逝去日子的博客</a>
            &nbsp;|&nbsp;
            <a href="http://www.lylinux.org/sitemap.xml" title="SiteMap">
                SiteMap
            </a>
            &nbsp;|&nbsp;
            <a href="http://www.lylinux.org/sitemap.html" title="SiteMap">
                Baidu SiteMap
            </a>
            |&nbsp; Hosting On&nbsp;
            <a href="https://www.linode.com/?r=b0d38794d05ef8816b357a929106e89b7c6452f9" target="blank" rel="nofollow">Linode</a>
            |&nbsp;
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_3797658'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/stat.php%3Fid%3D3797658%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

        </div>
    </footer><!-- #colophon -->
</div><!-- #page -->

<div id="wp-auto-top">
    <div id="wp-auto-top-top"></div>
    <div id="wp-auto-top-bottom"></div>
</div>
<script> var commentPositionId = '.ds-comments:last';
var wpAutoTopSpeed = 1;</script>
<style>
    #wp-auto-top {
        position: fixed;
        top: 45%;
        right: 50%;
        display: block;
        margin-right: -540px;
        z-index: 9999;
    }

    #wp-auto-top-top, #wp-auto-top-comment, #wp-auto-top-bottom {
        background: url(https://www.lylinux.org/wp-content/plugins/wp-auto-top/img/1.png) no-repeat;
        position: relative;
        cursor: pointer;
        height: 25px;
        width: 29px;
        margin: 10px 0 0;
    }

    #wp-auto-top-comment {
        background-position: left -30px;
        height: 32px;
    }

    #wp-auto-top-bottom {
        background-position: left -68px;
    }

    #wp-auto-top-comment:hover {
        background-position: right -30px;
    }

    #wp-auto-top-top:hover {
        background-position: right 0;
    }

    #wp-auto-top-bottom:hover {
        background-position: right -68px;
    }
</style>
<div id="su-footer-links" style="text-align: center;"></div>
<link rel='stylesheet' id='wp-markdown-prettify-css'
      href='https://www.lylinux.org/wp-content/plugins/wp-markdown/css/prettify.css?ver=1.5.1' type='text/css'
      media='all'/>
<script type='text/javascript'>
    /* <![CDATA[ */
    var JQLBSettings = {
        "fitToScreen": "1",
        "resizeSpeed": "400",
        "displayDownloadLink": "0",
        "navbarOnTop": "0",
        "loopImages": "",
        "resizeCenter": "",
        "marginSize": "0",
        "linkTarget": "_self",
        "help": "",
        "prevLinkTitle": "previous image",
        "nextLinkTitle": "next image",
        "prevLinkText": "\u00ab Previous",
        "nextLinkText": "Next \u00bb",
        "closeTitle": "close image gallery",
        "image": "Image ",
        "of": " of ",
        "download": "Download",
        "jqlb_overlay_opacity": "80",
        "jqlb_overlay_color": "#000000",
        "jqlb_overlay_close": "1",
        "jqlb_border_width": "10",
        "jqlb_border_color": "#ffffff",
        "jqlb_border_radius": "0",
        "jqlb_image_info_background_transparency": "100",
        "jqlb_image_info_bg_color": "#ffffff",
        "jqlb_image_info_text_color": "#000000",
        "jqlb_image_info_text_fontsize": "10",
        "jqlb_show_text_for_image": "1",
        "jqlb_next_image_title": "next image",
        "jqlb_previous_image_title": "previous image",
        "jqlb_next_button_image": "https:\/\/www.lylinux.org\/wp-content\/plugins\/wp-lightbox-2\/styles\/images\/next.gif",
        "jqlb_previous_button_image": "https:\/\/www.lylinux.org\/wp-content\/plugins\/wp-lightbox-2\/styles\/images\/prev.gif",
        "jqlb_maximum_width": "",
        "jqlb_maximum_height": "",
        "jqlb_show_close_button": "1",
        "jqlb_close_image_title": "close image gallery",
        "jqlb_close_image_max_heght": "22",
        "jqlb_image_for_close_lightbox": "https:\/\/www.lylinux.org\/wp-content\/plugins\/wp-lightbox-2\/styles\/images\/closelabel.gif",
        "jqlb_keyboard_navigation": "1",
        "jqlb_popup_size_fix": "0"
    };
    /* ]]> */
</script>

<script type='text/javascript'
        src='https://www.lylinux.org/wp-content/themes/twentytwelve/js/navigation.js?ver=20140711'
        defer='defer'></script>

</body>

</html>