<footer id="colophon" role="contentinfo">
    <div class="site-info">
        Copyright&copy;&nbsp;2016&nbsp;
        <a href="{{ SITE_BASE_URL }}" target="blank">逝去日子的博客</a>
        &nbsp;|&nbsp;
        <a href="{{ SITE_BASE_URL }}/sitemap.xml" title="SiteMap">
            SiteMap
        </a>
        &nbsp;|&nbsp;
        <a href="{{ SITE_BASE_URL }}/sitemap.html" title="SiteMap">
            Baidu SiteMap
        </a>
        |&nbsp; Hosting On&nbsp;
        <a href="https://www.linode.com/?r=b0d38794d05ef8816b357a929106e89b7c6452f9" target="blank" rel="nofollow">Linode</a>
        |&nbsp;
        {% include 'analyticscode.html' %}

    </div>
</footer><!-- #colophon -->